.weather {
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  margin-left: 500px;
  margin-right: 500px;
}

input {
  border-radius: 40px;
  border: 1px solid gray;
  padding: 5px;
}

.submit {
  border-radius: 40px;
  border: 1px solid black;
  padding-bottom: 5px;

  margin-left: 3px;
}

.weatherDescription {
  text-transform: capitalize;
}

.temperature {
  font-size: 60px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.weatherDetails {
  font-size: 15px;
}
